<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delete.css'%}">
</head>
<body>
    <div class="container">
            <h1>Are you sure you want to delete the following Course?</h1>
            <p>Name: {{course.name}}</p>
            <p>Description: {{course.description}}</p>
            <form action="/delete_course/{{course.id}}">
                <button type="submit" class="yes-btn">Yes, I want to delete this course.</button>
            </form>

            <form action="/">
                <button type="submit" class="no-btn">No</button>
            </form>

    </div>
</body>
</html>