
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        body {
            text-align: center;
            font-size: 30px;
        }
        .add { 
            height: 40px;
            width:  150px;
            background-color: red;
            color: white;
        }

        .reset { 
            height: 40px;
            width:  150px;
            background-color: rgb(29, 190, 29);
            color: white;
        }

    </style>
</head>
<body>
    <h1>Counter</h1>
    <p>{{request.session.count}} Times.</p>
    <form action="destroy_session" method="post">
    {% csrf_token%}
        <input type="submit" value="Reset" class="reset">
    </form>
    <form action="add_two" method="post">
    {% csrf_token%}
        <input type="submit" value="Add Two" class="add">
    </form>
    
</body>
</html>