<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_show.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/shows/{{show.id}}/submit_edit" method="post">
            <a href="/shows" class="back-btn">Go Back</a>
            <h1>Edit Show {{show.id}} </h1>

        {% csrf_token %}
            <p>Title: <input type="text" name="title" value="{{show.title}}"></p>
            <p>Network: <input type="text" name="network" value="{{show.network}}"></p>
            <p>Realese Date: <input type="date" name="release_date" value={{release_date}}></p>
            <p>Description: <textarea name="description" id="description" cols="30" rows="10" placeholder="{{show.description}}"></textarea></p>
            <button type="submit">Update</button>
            <a href="/shows/{{show.id}}">Go to Show</a>
        </form>
    </div>
    
</body>
</html>