<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Show Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/view_show.css' %}">
</head>
<body>
    
<div class="container">
    <div>
        <a href="/shows" class="back-btn">Go Back</a>
    </div>
    
    
    <h1>TV Show {{ show.id }}</h1>
    <p><b>Title:</b> {{ show.title }}</p>
    <p><b>Network:</b> {{ show.network }}</p>
    <p><b>Release Date:</b> {{ show.release_date }}</p>
    <p><b>Description:</b> {{ show.description }}</p>
    <br><br><br><br><br>

    <p><b>Last Updated:</b> {{show.updated_at}}</p>
    <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a>
</div>    
</body>
</html>